/* style.css */

body {
    background: linear-gradient(to right, #c9d6ff, #e2e2e2);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.login-card {
    width: 100%;
    max-width: 400px;
    border-radius: 12px;
    background-color: #ffffff;
}

.signup-card {
    border-radius: 12px;
    background-color: #ffffff;
}
